{% extends 'products/base.html' %}

{% block content %}
    <div class="container" style="margin-top: 10px">
        <div class="pt-5">
            <h3 class="mb-5">Here is {{ discussions.discussion_comments.all.count }} comments</h3>
            {% for comment in discussions.discussion_comments.all %}
                <ul class="comment-list">
                    <div class="vcard bio">
                        <div class="avatar-block">
                            <h3>Author: {{ comment.user }}</h3>
                        </div>
                    </div>
                    <div class="comment-body">
                        <div class="meta">{{ comment.created_at }}</div>
                        <p>{{ comment.text }}</p>
                        {% if user.is_authenticated and user.id == comment.user_id %}
                            <a href="{% url 'update_comment' discussions.slug discussions.id comment.id %}">Edit comment
                            </a>
                            <form method="POST"
                                  action="{% url 'delete_comment' discussions.slug discussions.id comment.id %}">
                                {% csrf_token %}
                                <button class="btn btn-success">Delete comment</button>
                            </form>
                        {% endif %}
                    </div>

                </ul>
            {% endfor %}

            {% if user.is_authenticated %}
                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Leave a comment</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" style="margin-bottom: 100px">Add comment</button>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}