{% extends 'products/base.html' %}


{% block content %}
    {% if user.is_authenticated and user.id == product.user_id %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-3" style="margin-top: 45px"><h1>Редактирование шаблона</h1></div>

                    <div class="col-md-6 mb-5">

                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-success">Сохранить</button>
                        </form>

                    </div>

                </div>
            </div>
        </section>
    {% else %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-3" style="margin-top: 35px"><h1>Это не ваш шаблон и вы не можете его
                        редактировать</h1></div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}